{{#liquid-bind
  currentImage
  use="crossFade"
  class="carouSel-imageContainer"
  as |image|
}}
  <div class="carouSel-imageContainer-inner">
    <img
      class="carouSel-image"
      src={{image.imageUrl}}
    >
  </div>
{{/liquid-bind}}

<a
  href
  {{action 'prev'}}
  class="carouSel-button _prev"
>
  {{inline-svg
    'svg/colorless/chevron-left'
    class="carouSel-button-icon"
  }}
</a>

<a
  href
  {{action 'next'}}
  class="carouSel-button _next"
>
  {{inline-svg
    'svg/colorless/chevron-right'
    class="carouSel-button-icon"
  }}
</a>

<div class="carouSel-content">
  {{yield}}
</div>

{{inline-svg
  'svg/colorless/angle-double-down'
  class="carouSel-arrowDown"
}}


{{#if session.isAuthenticated}}

  <a
    href
    {{action 'toggleEdit'}}
    class="carouSel-edit"
  >
    Редактировать вывеску
  </a>

  {{#if isEditing}}
    {{#tether-dialog
      close="toggleEdit"
      targetAttachment="middle center"
      translucentOverlay=true
    }}
      <div class="carouSel-modal">
        <h2 class="carouSel-modal-title">Редактирование вывески</h2>

        {{title-images-editor
          titleImages=titleImages
        }}
      </div>
    {{/tether-dialog}}
  {{/if}}
{{/if}}