{{#sortable-group
  class="titleImagesEditor-items"
  tagName="ul"
  onChange="reorder"
  as |group|
}}
  {{#each sortedTitleImages as |image|}}
    {{#sortable-item
      class="titleImagesEditor-item"
      tagName="li"
      model=image
      group=group
      handle=".titleImagesEditor-item-handle"
    }}

      <div class="titleImagesEditor-item-content titleImagesEditor-item-handle">
        {{inline-svg
          'svg/colorless/hamburger-thin'
          class="titleImagesEditor-item-handle-icon"
        }}
      </div>

      <div class="titleImagesEditor-item-content titleImagesEditor-item-id">
        {{image.id}}
      </div>

      <img
        class="titleImagesEditor-item-content titleImagesEditor-item-image"
        src={{image.imageUrl}}
      >

      <div class="titleImagesEditor-item-content titleImagesEditor-item-url">
        {{input value=image.imageUrl class="titleImagesEditor-item-url-input"}}
      </div>

      {{async-button
        image
        action='destroy'
        default="X"
        pending="..."
        rejected=":("
        class="titleImagesEditor-item-content titleImagesEditor-item-delete"
      }}
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}


{{async-button
  action='save'
  default="Сохранить"
  pending="Сохранение..."
  rejected="Ошибка, попробуйте снова"
  disableWhen=cantSave
  class="titleImagesEditor-save"
}}



<div class="titleImagesEditor-add">

  <h3 class="titleImagesEditor-add-title">Добавление картинки</h3>

  {{model-field-input
    class="titleImagesEditor-field _id"
    model=newTitleImage
    key="id"
    value=newTitleImage.id
    label="ID"
  }}

  {{model-field-input
    class="titleImagesEditor-field _url"
    model=newTitleImage
    key="imageUrl"
    value=newTitleImage.imageUrl
    label="URL"
  }}

  {{async-button
    action='add'
    default="Добавить"
    pending="Добавление..."
    rejected="Ошибка, попробуйте снова"
    disableWhen=(not (v-get newTitleImage 'isValid'))
  }}
</div>